
.navbar {
  align-items: center;
  background-color: #0af;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  padding: 0 0.4rem;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-brand {
    margin: 0;
}

.navbar-menu {
  display: block;
}

.slideout {
  background-color: #ccc;
  display: block;
  height: 100%;
  position: absolute;
  top:0;
  left: -280px;
  width: 280px;

  transition: 0.4s;
}

.slideout-shown {
  left: 0;
  transition: 0.4s;
}

.slideout-toggle {
  display: none;
}

.slideout-dismiss {
  position: absolute;
  right: 0;
  padding: 0.4rem;
  top: 0;
}

.slideout-menu {

}

.slideout-menu ul {
    flex-direction: column;
}

.slideout-menu li {
    padding: 0.4rem;
}

@media screen and (max-width: 767px) {

  .navbar {
      justify-content: flex-start;
  }

  .navbar-menu {
    display: none;
  }

  .slideout-toggle {
    display: block;
    padding: 0.4rem;
  }

}
